main {
  padding-top: 32px;
}

.background {
  background: url("../images/plans-background.jpg") center/cover;
  /* revisar filter en caniuse, no es compatible con todos los navegadores  */
  filter: grayscale(40%);
  width: 100%;
  height: 100%;  
  position: fixed;
  z-index: -1;
  background-repeat: no-repeat;  
  /* el shorthand center/cover se encarga de esto
  background-size: cover;
  background-position: center; */
}

.package {
  width: 80%;
  margin: 16px 0;
  border: 4px solid #0e4f1f;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: none;
  position: relative;
}

.package:hover,
.package:active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-color: #ff5454;
}

.package a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 32px;
}

/*
.package__title {
  padding: 16px;
  border: 1px solid #0e4f1f;
  font-size: 20px;
  color: #0e4f1f;
  background: white;
}
*/

.package__badge {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  font-size: 13px;
  color: white;
  background: #ff5454;
  padding: 8px;
  border-radius: 5px;
}

.package__subtitle {
  color: #979797;
}

.package__info {
  padding: 16px 0;
  border: 1px solid #0e4f1f;
  font-size: 20px;
  color: #0e4f1f;
  background: white;
}

#plus {
  background: rgba(213, 255, 220, 0.95);
  margin-top: 65px;
}

#plus:hover .package__badge {
  color: #ff5454;
  background: white;
  /* Comienza la animacion */
  animation: shake 0.5s;
}

#free {
  background: rgba(234, 252, 237, 0.95);
  float: right;
  border-right: none;
  border-left: 4px solid #0e4f1f;
  text-align: right;
  /* radio del plan free */
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0cqw;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#free:hover,
#free:active {
  border-left-color: #ff5454;
}

.clearfix {
  clear: both;
}

#premium {
  background: rgba(14, 79, 31, 0.95);
}

#premium .package__title {
  color: white;
}

#premium .package__subtitle {
  color: #bbb;
}

.main-footer {
  margin-top: 35px;
}

/* Este codigo es mio no del curso */

html,
body {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -1px) rotate(-1deg);
  }
  20% {
    transform: translate(-1px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-1px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(1px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -1px) rotate(-1deg);
  }
}
