*{ /* Aplica border-box a TODOS los elementos */
  box-sizing: border-box;
}
body {
  font-family: "Public Sans", sans-serif;
  /*body tiene su propio margen por defecto, que lo pone el navegador. se puede cambiar desde css */
  margin: 0;

}

#product-overview {
  background: #ff1b68;
width: 100%;
height: 528px;
padding: 10px;

}

.section-title {
  color: #2ddf5c;
}

#product-overview h1 {
  color: white;
  font-family: "Monteserrat", sans-serif;
}

h1 {
  font-family: sans-serif;
}

.main-header {
  width: 100%;
  background-color: #2ddf5c;
  padding: 8px 16px;  
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand {
  color: #0e4f1f;
  text-decoration: none; /* elimina el subrayado del link */
  font-weight: bold;
  font-size: 22px;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 75px); /* el total de la pagina menos los pixel que ocupa el link de uhost */
  vertical-align: middle;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;

}

.main-nav__item{
  display: inline-block;
  margin: 0 16px;

}

.main-nav__item a { /* a se refiere a los liks - son los links dentro de main-nav__item */
  color: #0e4f1f;
  text-decoration: none; /* elimina el subrayado del link */
}

.main-nav__item a:hover { /* a:hover -> "pseudo clase"  */ 
  color: white;
}

.main-nav__item a:active {
  color: white;

}