* {
  /* Aplica border-box a TODOS los elementos */
  box-sizing: border-box;
}
body {
  font-family: "Public Sans", sans-serif;
  /*body tiene su propio margen por defecto, que lo pone el navegador. se puede cambiar desde css */
  margin: 0;
}

#product-overview {
  background: url("/images/freedom.jpg");
  width: 100%;
  height: 528px;
  padding: 10px;
}

.section-title {
  color: #2ddf5c;
  text-align: center;
}

#product-overview h1 {
  color: white;
  font-family: "Monteserrat", sans-serif;
}

.plan {
  background: #d5ffdc;
  text-align: center;
  padding: 16px;
  margin: 8px;
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}

.plan--highlighted {
  background: #19b84c;
  color: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__annotation {
  background: white;
  color: #19b84c;
  padding: 8px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.plan__title {
  color: #0e4f1f;
}

.plan__price {
  color: #858585;
}

.plan--highlighted .plan__title {
  color: white;
}

.plan--highlighted .plan__price {
  /* Combinador */
  color: #0e4f1f;
}
.plan__features {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.plan__feature {
  margin: 8px 0;
}

.button {
  background-color: #0e4f1f;
  color: white;
  font: inherit; /* Fuerza que se implemente la herencia de la fuente que elegimos, en vez de usar la por 
  defecto del navegador*/
  border: 1.5px solid #0e4f1f;
  padding: 8px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer; /* Cambia el cursor a la mano*/
}

.button:hover{
  background: white;
  color: #0e4f1f;
}

.button:active {
  /* mueve el boton a lpresionarse 2x hacia abajo y lo achica*/
  transform: translateY(2px) scale(0.98);
  box-shadow: 0 2px 0 #2c5fa8;
}

.button:focus{ /* remueve el borde azul del focus del boton */
  outline: none;
}


h1 {
  font-family: sans-serif;
}

#key-features{
  background: #ff1b68;
  margin-top: 80px;
  padding: 16px ;
}

#key-features > .section-title{
  color: white;
  margin: 32px;
}

.key-feature__list{
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.key-feature{
  display: inline-block;
  width: 30%;
  vertical-align: top;

}

.key-feature__image{
  background: #ffcede;
  width: 128px;
}

.key-feature__description{
  text-align: center;
  font-weight: bold;  
  color: white;
  font-size: 20px;
}


.main-header {
  width: 100%;
  background-color: #2ddf5c;
  padding: 8px 16px;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand {
  color: #0e4f1f;
  text-decoration: none; /* elimina el subrayado del link */
  font-weight: bold;
  font-size: 22px;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(
    100% - 75px
  ); /* el total de la pagina menos los pixel que ocupa el link de uhost */
  vertical-align: middle;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin: 0 16px;
}

.main-nav__item a {
  /* a se refiere a los liks - son los links dentro de main-nav__item */
  color: #0e4f1f;
  text-decoration: none; /* elimina el subrayado del link */
  font-weight: bold;
  padding: 3px;
}

/* se agrupan estas dos clases debajo 
.main-nav__item a:hover 
  color: white;
}

.main-nav__item a:active {
  color: white;

}

*/

.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: 5px solid white;
}

.main-nav__item--cta a {
  color: white;
  background-color: #ff1b68;
  padding: 8px 16px;
  border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
  color: #ff1b68;
  background: white;
  border: none;
}


