@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* Importa fuente Roboto */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* Importa fuente Anton */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* Importa fuente Inter */

* {
  /* Aplica border-box a TODOS los elementos */
  box-sizing: border-box;
}

html {
    scrollbar-color: #19b84c transparent; /* thumb | track */
    scrollbar-width: thin;
    }

body {
  font-family: "Public Sans", sans-serif;
  /*body tiene su propio margen por defecto, que lo pone el navegador. se puede cambiar desde css */
  margin: 0;
  overflow-x: hidden;
}

main{
  /* calculo del 100% del view port - el alto de la bara de navegacion - el espacio del footer */
  min-height: calc(100vh - 3.5rem - 8rem);
  margin-top: 3.5rem;
}


.backdrop {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
}

.main-header {
  width: 100%;
  /* Codigo para la barra navegadora */
  position: fixed;
  top: 0;
  left: 0;
  /* Fin codigo barra navegadora */
  background-color: #2ddf5c;
  padding: 0.5rem 1rem;
  z-index: 1;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 75%;
  height: 0.1rem;
  background: black;
  display: block;
  margin: 0.4rem 0;
}


.main-header__brand {
  color: #0e4f1f;
  text-decoration: none; /* elimina el subrayado del link */
  font-weight: bold;
  height: 3rem;
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand img {
  height: 100%;
}


/* botones barra de navegacion */

/* mueve el boton start hosting hacia la derecha  */

.main-nav {
  display: inline-block;
  width: calc(100% - 122px); 
  /*El total de la pantalla menos el icono */
  text-align: right;
}



/* los oculta en mobile */
.main-nav__item a, 
.mobile-nav__item a{
  display: none;
}

/* los oculta en mobile  */
.main-nav__items,
.mobile-nav__items {
  list-style: none;   /* quita los puntos */
  margin: 0;
  padding: 0;
}


/* Boton de start_hosting */
#start_hosting { 
  display: inline-block;
  color: white;
  text-decoration: none;
  font-weight: bold;
  background-color: #ff1b68;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: all 0.1s ease;
  border: 1.5px solid #ff1b68; 
  transition: all 0.1s ease;
}

#start_hosting:hover{
  color: #ff1b68;
  background-color:white;
  border: 1.5px solid white;
}

/* Nota: Es necesario JS para cambiar esto de disabled a enabled en runtime */
.button[disabled]{
  cursor: not-allowed;
  border: #a1a1a1;
  background-color: #ccc;
  color: #a1a1a1;
}

.button[disabled]:hover{
  background: #ccc;
  color: #a1a1a1;
}

.button[disabled]:active{
  background: #ccc;
  color: #a1a1a1;
}

/* Botones de los planes */
.button {
  background-color: #0e4f1f;
  color: white;
  font: inherit; /* Fuerza que se implemente la herencia de la fuente que elegimos, en vez de usar la por 
    defecto del navegador*/
  border: 1.5px solid #0e4f1f;
  padding: 0.5rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer; /* Cambia el cursor a la mano*/
}

.button:hover {
  background: white;
  color: #0e4f1f;
}

/* Si el boton NO esta disabled - hacer esto al activar */
.button:not([disabled]):active {
  /* mueve el boton a lpresionarse 2x hacia abajo y lo achica*/
  transform: translateY(2px) scale(0.98);
  box-shadow: 0 2px 0 #2c5fa8;
}

.button:focus {
  /* remueve el borde azul del focus del boton */
  outline: none;
}

.main-footer {
  background: black;
  padding: 32px;
  margin-top: 48px;
}

.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-footer__link {
  display: inline-block;
  margin: 0 16px;
}

.main-footer__link a {
  color: white;
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #ccc;
}

.modal {
  position: fixed;
  display: none;
  z-index: 200;
  top: 20%;
  left: 30%;
  width: 40%;
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
  text-align: center;
  margin: 0 0 1rem 0;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  border: 1px solid #0e4f1f;
  background: #0e4f1f;
  text-decoration: none;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
  background: #2ddf5c;
  border-color: #2ddf5c;
}

.modal__action--negative {
  background: red;
  border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
  background: #ff5454;
  border-color: #ff5454;
}

.mobile-nav {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: white;
  width: 80%;
  height: 100vh;
}

.mobile-nav__items {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 10% auto;
  padding: 0;
  text-align: center;
}

.mobile-nav__item {
  margin: 1rem 0;
}

.mobile-nav__item a {
  font-size: 1.5rem;
}


.open {
  display: block !important;
}

@media (min-width: 50rem){
.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 122px); /* el total de la pagina menos los pixel que ocupa el link de uhost */
  vertical-align: middle;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin: 0 16px;
}

.main-nav__item a, 
.mobile-nav__item a{
  /* a se refiere a los liks - son los links dentro de main-nav__item */
  display: inline-block;
  color: #0e4f1f;
  text-decoration: none; /* elimina el subrayado del link */
  font-weight: bold;
  padding: 0.2rem 0;
} 

.main-nav__item--cta a, 
.mobile-nav__item--cta a{
  color: white;
  background-color: #ff1b68;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active, 
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active {
  color: #ff1b68;
  background: white;
  border: none;
}  

.main-nav__item a:hover,
.main-nav__item a:active {
  color: #ff1b68;
  border-bottom: 5px solid white;
  border: none;
  
}


}